*{
    margin: 0;
    padding: 0;
}

nav{
    display:flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 20px 8%;

}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    
}

a{
    text-decoration: none;
    color: #575757;
}

nav .btn button{
    background-color: #1D4ED8;
    color: white;
    padding: 12px 40px;
    border: 0;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("./images/banner.jpg");
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.header-content{
    width: 650px;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 120px;
    text-align:center;
    color:white;
}

.header-content h1{
    font-size: 65px;
    font-weight: 650;
    margin-bottom: 20px;
}

.header-content p{
    font-size: 20px;
    font-weight: 50;
    margin-bottom: 350px;
}

.header-btn{
    background:#1D4ED8;
    color:white;
    border:none;
    margin-top: 30px;
    padding:18px 45px;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
}

span{
    color: #1D4ED8;
}

.speakers{
    width: 90%;
    margin: 80px auto;
       
}

.speakers h2{
    text-align: center;
    
    font-size: 50px;
    margin-bottom: 30px;
}

.speaker-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    column-gap: 20px; 
    
}

.card{
    border: 1px solid white;
    overflow: hidden;
    border-radius: 10px
    
}
.card img{
    
    height: 300px;
    width: 100%;

    object-fit: cover;
    display: block;
}

.card-content{
    padding: 20px;
}

.card-content h3,h6{
    margin-bottom: 10px;
}

.card-content h6{
    
    font-size: 13px;
    text-transform: uppercase;
}

.card-content h3{
    font-size: 23px;
}

.card-content p{
    color: #575757;
    font-size: 15px;
}

hr{
    background-color: #575757;   
}


.pricing{
    width: 90%;
    margin: 80px auto;
}

.pricing h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 12px;
}

.pricing p{
    text-align: center;
    color: #575757;
    margin-bottom: 50px;
}

.pricing-container{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.pricing-left-container,.pricing-center-container,.pricing-right-container{
    width: 350px;
    padding: 30px;
    border: 1px solid white;
    border-radius: 10px;
}

.pricing-center-container{
    background-color: #0f172a;
    color: white;
}

.pricing-container h5{
    font-size: 15px;
    color: grey;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.pricing-center-container h5{
    color: white;
}

.pricing-container h3{
    font-size: 50px;
    margin-bottom: 5px;
}

.pricing-container h6{
    font-size: 15px;
    color: grey;
    font-weight: normal;
    margin-bottom: 25px;
}

.pricing-center-container h6{
    color: white;
}

.pricing-container ul{
    padding-left: 22px;
    margin-bottom: 30px;
}

.pricing-container li{
    margin-bottom: 15px;
    line-height: 1.6;
}

.pricing-container li::marker{
    color: blue;
}

.pricing-container button{
    width: 100%;
    padding: 15px;
    border: 1px solid blue;
    border-radius: 8px;
    background-color: white;
    color: blue;
    font-size: 16px;
    cursor: pointer;
}

.pricing-center-container button{
    background-color:blue;
    color: white;
    border: none;
}

.career{
    width:90%;
    margin:100px auto;
    text-align:center;
}

.career h2{
    font-size:50px;
    margin-bottom:15px;
}

.career>p{
    width:700px;
    margin:0 auto 50px;
    color:#666;
    line-height:1.7;
}

.career-container{
    display:flex;
    justify-content:center;
    gap:25px;
}

.career-card{
    width:350px;
    border:1px solid #ddd;
    border-radius:10px;
    padding:30px;
    transition:0.3s;
}

.career-card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 20px rgba(0,0,0,.15);
}

.career-card h3{
    font-size:28px;
    margin-bottom:20px;
}

.career-card p{
    color:#666;
    line-height:1.7;
    margin-bottom:30px;
}

.career-card button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.career-card button:hover{
    background:#1d4ed8;
}

.career-footer{
    margin-top:70px;
    background:#0f172a;
    color:white;
    padding:50px;
    border-radius:12px;
}

.career-footer h3{
    font-size:35px;
    margin-bottom:15px;
}

.career-footer p{
    color:#d1d5db;
    margin-bottom:30px;
}

.career-footer button{
    padding:15px 40px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.footer{
    background-color: #05102c;
    padding: 10px 0;
}

.footer-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img{
    width: 150px;
    display: block;
}

.footer-social-media{
    display: flex;
    gap: 20px;
}

.footer-social-media a{
    text-decoration: none;
    color: rgb(250, 249, 249);
    font-size: 25px;
}

.footer-social-media a:hover{
    color: #e8e9ec;
}

.footer-hr-line{
    width: 90%;
    margin: 30px auto 20px;
    border: none;
    border-top: 1px solid #3c4046;
}

.footer-text-left{
    text-align: left;
    color: #eaedf0;
    font-size: 15px;
    padding-left: 60px;
}

.footer-text-right{
    text-align: right;
    color: #eaedf0;
    font-size: 15px;
    padding-right: 60px  ;
    
}

